// Colors
$default-color: white;
$dark-color: black;
$main-color: lightcoral;
$central-color: darkcyan;
$elements-color: cyan;
$border-color: midnightblue;
$icon-color: mintcream;
// Colors
$twittwer-color: lightblue;
$facebook-color: midnightblue;
$linkedin-color: mediumslateblue;
$instagram-color: lightcoral;
$youtube-color: firebrick;
$tumblr-color: darkslateblue;
$tribbble-color: darkorchid;
// constants
$element-width: 100px;
$element-height: 100%;
$main-block-height: 50%;
$main-block-width: 100%;
$icon-size-medium: 30px;
$icon-size-large: 50px;
// constants

